@import "parts/variables";
@import "parts/extend";

body {

    width: 400px;
    margin: 0 auto;
}
.maket {

    border: 2px solid $pscolor;
    padding: 87px;
    margin-top: 100px;
    border-radius: 50px 50px 60px 60px;
    position: relative;
    background-color: mediumseagreen;
   border-bottom: none;
 .dot {

   @extend %dots;
    top: 45px;
    left: 176px;
 }
 .dot2 {
    @extend %dots;
     top: 51px;
     left: 180px;

 }
 
 .dot3 {
    @extend %dots;
    top: 57px;
    left: 185px;
 }
 
    .r1 {

    border: 3px solid black;
    position: absolute;
    top: -7px;
    left: 31px;
    width: 42px;
    height: 1px;
    background-color: black;
    border-radius: 30px 30px 0 5px;
    
 }
 .l1 {
    border: 3px solid black;
    position: absolute;
    top: -7px;
    right: 31px;
    width: 42px;
    height: 1px;
    background-color: black;
    border-radius: 30px 40px 0 5px;

 }




    .screen {
  
    border: 2px solid black;
    padding: 20px;
    width: 150px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 160px;
    margin-left: -60px;
    background-color: #0a0a0a;
    border-radius: 5px 5px 20px 20px; 
   
}
.right-analog {
    border: 1px solid black;
    border-radius: 50%;
    color: #4B4453;
    position: absolute;
    width: 65px;
    height: 65px;
    bottom: 150px;
    right: 82px;
    box-shadow: 0px 1px 0px 3px black;
    background-color: $backcolor;
.rbut {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 17px;
    right: 17px;
    background-color: black;
    box-shadow: 0px 0px 0px 2px dimgrey;
}
}
.left-analog {
    border: 1px solid black;
    border-radius: 50%;
    color: $pscolor;
    position:absolute;
    width: 65px;
    height: 65px;
    bottom: 150px;
    left: 78px;
    box-shadow: 0px 1px 0px 3px black;
    background-color: $backcolor;

.lbut {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 17px;
    left: 17px;
    background-color: black;
    box-shadow: 0px 0px 0px 2px dimgrey;
}
}

.logo {
   position: absolute;
   bottom: 170px;
   left: 186px;
  
  
  i {
   position: absolute;
    color: white;
    font-size: 27px;
    left: -4px;
    top: -25px;
    box-shadow: 0px 0px 0px 2px dimgrey;
    border-radius: 50%;
    background-color: black;
  }
}
.option {
   
    position: absolute;
    border: 1px solid black;
    height: 20px;
    width: 10px;
    border-radius: 5px;
    top: 4px;
    left: 83px;
    background-color:$pscolor;

}
.select {
    position: absolute;
    border: 1px solid black;
    height: 20px;
    width: 10px;
    border-radius: 5px;
    top: 4px;
    right: 85px;
    background-color:$pscolor;

}
.rlud {
    position: absolute;
    top: 62px;
    left: 29px;
   

    i {
        font-size: 75px;
        position: absolute;
        left: -21px;
        top: -18px;
        box-shadow: 0 1px 0 5px rgb(59, 56, 56);
        border-radius: 50%;
      
    }

}
.btn {
    position: absolute;
    border: 1px solid black;
    width: 80px ;
    height: 80px;
    border-radius: 50%;
    top: 40px;
    right:7px;
    box-shadow: 0 1px 0 5px rgb(59, 56, 56);

.tcover {
    @extend %allcover;
    top: 3px;
    left: 29px;
   
    
    
    .triangle {

     width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 17px solid green;
    position: absolute;
    top: 0px;
    left: 2px;
    
    }
}
.xcover {
    @extend %allcover;
    bottom: 5px;
    left: 29px;
.x {

    color: rgb(97, 97, 150);
    font-weight: bold;
    padding: 5px;
}  
 

}
.scover {
   @extend %allcover;
   top: 28px;
   left: 4px;

.square {
   width: 10px;
   height: 10px;
   border: 2px solid rgb(117, 34, 117);
   position: absolute;
   top: 3px;
   right: 3px;
  

}


}
.ccover {
    @extend %allcover;
    top: 28px;
    right: 4px;
 
    .circle {
    width: 10px;
    height: 10px;
    border: 2px solid rgb(145, 33, 33);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;

 }

}
}
.borier {

    border: 1px solid #4B4453;
    position: relative;
    background-color: white;
    width: 231px;
    height: 143px;
    bottom: -89px;
    left: -2px;
    border-radius: 40px 40px 10px 10px;
    border-bottom-style: none;
    
   
}
.charge {
    border: 3px solid black;
    position: absolute;
    bottom: 140px;
    right: 181px;
    width: 25px;
    height: 1px;
    background-color: black;
    border-radius: 30px 40px 0 5px;


}
}


















