%allcover {

    position: absolute;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 1px 0 3px #3b3838;
    
}
%dots {

    font-size: 30px;
    position: absolute;
}